In [30]:
import yfinance as yf

In [35]:
ticker = "PGSUS.IS"
df=yf.download(ticker,period="2y",actions=True,interval="1h")
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,,
2022-02-24 09:30:00+03:00,96.599998,96.750000,96.599998,96.750000,96.750000,44938,0.0,0.0
2022-02-24 10:30:00+03:00,97.000000,98.849998,96.699997,97.099998,97.099998,648924,0.0,0.0
2022-02-24 11:30:00+03:00,97.099998,97.949997,96.300003,96.400002,96.400002,772067,0.0,0.0
2022-02-24 12:30:00+03:00,96.400002,96.500000,96.300003,96.300003,96.300003,73087,0.0,0.0
2022-02-24 13:30:00+03:00,96.300003,96.300003,96.300003,96.300003,96.300003,10806,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-02-23 13:30:00+03:00,843.000000,850.000000,840.500000,847.000000,847.000000,480130,0.0,0.0
2024-02-23 14:30:00+03:00,847.500000,848.500000,841.000000,843.000000,843.000000,246652,0.0,0.0
2024-02-23 15:30:00+03:00,842.500000,858.500000,840.000000,853.000000,853.000000,800435,0.0,0.0
2024-02-23 16:30:00+03:00,853.000000,857.000000,850.000000,855.000000,855.000000,421211,0.0,0.0
2024-02-23 17:30:00+03:00,855.000000,859.000000,851.500000,852.000000,852.000000,345467,0.0,0.0

In [36]:
df.to_csv("data.csv")